APP_ENV=local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=productsdb
DB_USER=postgres
DB_PASSWORD=password

# AWS (only needed when APP_ENV != local)
AWS_REGION=us-east-2
PROJECT_NAME=ecom-microservices
ENVIRONMENT=prod
