NODE_ENV=local
PORT=3001
JWT_SECRET=your-local-dev-secret-min-32-chars

# DB (local)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=usersdb
DB_USER=postgres
DB_PASSWORD=password

# AWS (only needed when NODE_ENV != local)
AWS_REGION=us-east-2
PROJECT_NAME=ecom-microservices
ENVIRONMENT=prod
