NODE_ENV=local
PORT=3002

# DB (local)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ordersdb
DB_USER=postgres
DB_PASSWORD=password

# RabbitMQ (local)
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Service URLs (local)
PRODUCT_SERVICE_URL=http://localhost:8000

# AWS (only needed when NODE_ENV != local)
AWS_REGION=us-east-2
PROJECT_NAME=ecom-microservices
ENVIRONMENT=prod
